<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>团队信息</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<style>
	body{
        background-size:100%;
    }
    @media (max-width: 970px) {
        body{
            background-size:1000px 100%;
        }
    }

.container{
	margin:10% auto;
	border:2px solid #334455;
}
#teamHeadForm{
	display: none;
}
#brief{
	display: block;
}
#headImg{
	width:210px;
	height:210px;
	cursor: pointer;
}
#headImg:hover{
	opacity: 0.9;
}
#headImg img{
	width:100%;
	height:100%;
}
#brief{
	border:solid 1px #777;
	padding:0.5em;
	margin:0.5em;
}
#brief div{
	font-size:1.2em;
	margin:0.3em 0;
}
#brief input{
	background: transparent;
	border:solid 1px #999;
	border-radius: 0.4em;
}
#name,#major{
	width:180px;
	height:30px;
	background:transparent; 
	display: inline-block;
	border-radius: 0.2em;
}
#introduce{
	width:240px;
	height:120px;
	background:transparent; 
	display: inline-block;
	padding:0.5em;
	border-radius: 0.4em;
}
#name,#major,#introduce:hover{
	opacity: 0.8;
}
    @media (max-width: 450px) {
    	#introduce{
    		width:220px;
    	}
    	.container{
    		padding: 0;
    	}
    }
</style>
</head>
<body>


<div class='container' id='teams'>
	<back-botton uid='<%=uid%>'></back-botton>
	<div class="row">
    <div class="col-md-4">
			<head-form uid='<%=uid%>' headimg='<%=headImg%>'></head-form>
      <div id='headImg' v-on:click='showTeamHeadform'> <img src= <%=headImg%> /> </div>
    </div>
		<div class="col-md-8">
			<text-info uid='<%=uid%>' name='<%=name%>' level='<%=level%>' membernumber='<%=membernumber%>' introduce='<%=introduce%>'></text-info>
		</div>
	</div>
</div>
	
    <script src='https://cdn.bootcss.com/vue/2.5.7/vue.min.js'></script>
    <script src='https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js'></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src='js/lib.js'></script>
<script src='js/teams.js'></script>

</body>
</html>